<h1 class="text-center mb-5 mt-4">Modifier l'évènement !</h1>
<div class="container col-6 mt-4">
  <form
  #myForm = "ngForm"
  [formGroup]="createEventForm" (ngSubmit)="myForm.valid && onSubmit()"
  class="d-flex flex-column align-items-center"
>
<div class="alert alert-danger alert-dismissible fade show notif w-100" role="alert" *ngIf="showNotification">
  <strong>Erreur !</strong> Faites attention à bien replir tous les champs ci-dessous.
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
  <div class="form-floating mb-3 col-md-4 col-4 w-100">
    <input
      type="text"
      class="form-control"
      formControlName="title"
      id="floatingInputTtile"
      placeholder="Super vacances"
      [ngClass]="{
        'is-invalid':
          (myForm.submitted && createEventForm.get('title')?.errors) ||
          (createEventForm.get('title')?.touched && createEventForm.get('title')?.errors)
      }"
    />
    <label for="floatingInputTitle">Titre</label>
  </div>
  <div class="form-floating mb-3 col-md-4 col-4 w-100">
    <input
      type="text"
      class="form-control"
      formControlName="description"
      id="floatingInputDescription"
      placeholder="Description de l'évènement"
      [ngClass]="{
        'is-invalid':
          (myForm.submitted && createEventForm.get('description')?.errors) ||
          (createEventForm.get('description')?.touched && createEventForm.get('description')?.errors)
      }"
    />
    <label for="floatingInputDescription">Description</label>
  </div>
  <div class="form-floating mb-3 col-md-4 col-4 w-100">
    <input
      type="text"
      class="form-control"
      formControlName="place"
      id="floatingInputPlace"
      placeholder="Lieu de l'évènement"
      [ngClass]="{
        'is-invalid':
          (myForm.submitted && createEventForm.get('place')?.errors) ||
          (createEventForm.get('place')?.touched && createEventForm.get('place')?.errors)
      }"
    />
    <label for="floatingInputPlace">Lieu</label>
  </div>

  <div class="form-floating mb-3 col-md-4 col-4 w-100">
    <input
      type="date"
      class="form-control"
      formControlName="date"
      id="floatingInputDate"
      placeholder="Date de l'évènement"
      [ngClass]="{
        'is-invalid':
          (myForm.submitted && createEventForm.get('date')?.errors) ||
          (createEventForm.get('date')?.touched && createEventForm.get('date')?.errors)
      }"
    />
    <label for="floatingInputDate">Date</label>
  </div>

  <mat-form-field appearance="fill" class="matForm w-100"       [ngClass]="{
    'is-invalid':
      (myForm.submitted && createEventForm.get('continentId')?.errors) ||
      (createEventForm.get('continentId')?.touched && createEventForm.get('continentId')?.errors)
  }">
  <mat-label class="matForm">Continent</mat-label>
  <mat-select formControlName="continentId" class="matForm">
    <mat-option *ngFor="let continent of continents" [value]="continent.id" class="matForm">{{
      continent.name
      }}</mat-option>
  </mat-select>
</mat-form-field>

<div class="form-floating col-md-4 col-4 w-100">
    <input
      type="text"
      class="form-control"
      formControlName="pictures"
      id="floatingInputPictures"
      placeholder="Photos de l'évènement"
      [ngClass]="{
        'is-invalid':
          (myForm.submitted && createEventForm.get('pictures')?.errors) ||
          (createEventForm.get('pictures')?.touched && createEventForm.get('pictures')?.errors)
      }"
    />
    <label for="floatingInputPictures">Photos</label>
</div>
<small>Urls uniquements, séparés par des virgules ","</small>
<button type="submit" class="btn btn-dark mt-3">Publier</button>
</form>

</div>

